#include "VersionInfo.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <winresrc.h>
#undef APSTUDIO_READONLY_SYMBOLS
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUD)
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
    "VersionInfo.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include <winresrc.h>\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,7
 PRODUCTVERSION 5,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "FixingIV"
            VALUE "FileDescription", "https://github.com/RaphaelK12/ShadowResFix"
            VALUE "FileVersion", "1.0.0.7"
            VALUE "InternalName", "RaGeFX Editor"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "RaGeFX Editor.asi"
            VALUE "ProductName", "ShadowResFix"
            VALUE "ProductVersion", "1.0.0.7"
            VALUE "UpdateUrl", "https://github.com/RaphaelK12/ShadowResFix"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END

#endif    // Neutral (Default) resources

#ifndef APSTUDIO_INVOKED
#endif    // not APSTUDIO_INVOKED

